In [8]:
import numpy as np
import pandas as pd

data = {
    "column-a": ["a", "b", "c", "d"],
    "column-b": [2,5,8,11],
    "column-c": [1,2,3,4],
    "column-d": [3,4,5,6],
    "column-e": [3.0, 4.0, 5.0, 6.0],
    "column-f": ["h", "i", "j", "k"],
    "column-g": ["2020-01-01 00:00:00-05:00", "2020-01-02 00:00:00-05:00", "2020-01-03 00:00:00-05:00", "2020-01-04 00:00:00-05:00"],
    "column-h": ["2020-01-01 00:00:00.000000000", "2020-01-01 00:00:00.000000001", "2020-01-01 00:00:00.000000002", "2020-01-01 00:00:00.000000003"],
    "column-i": ["True", "False", "False", "True"]
}

df = pd.DataFrame(data)
print(df)

  column-a  column-b  column-c  column-d  column-e column-f  \
0        a         2         1         3       3.0        h
1        b         5         2         4       4.0        i
2        c         8         3         5       5.0        j
3        d        11         4         6       6.0        k

                    column-g                       column-h column-i
0  2020-01-01 00:00:00-05:00  2020-01-01 00:00:00.000000000     True
1  2020-01-02 00:00:00-05:00  2020-01-01 00:00:00.000000001    False
2  2020-01-03 00:00:00-05:00  2020-01-01 00:00:00.000000002    False
3  2020-01-04 00:00:00-05:00  2020-01-01 00:00:00.000000003     True

In [1]:
import pandas as pd

# Original DataFrame
df = pd.DataFrame({
    "tweet_id": [301767309855683251, 41287076781383229, 170242984208083188, 346316860619394606, 
                 994889748559394597, 267857845400294597, 900486039855694560, 876166652354594559, 
                 244167927104594559, 478403164894494430],
    "created_at": ["Wednesday/February/16", "Tuesday/February/16", "Monday/February/16", "Tuesday/December/16", 
                   "Tuesday/December/16", "Tuesday/December/16", "Monday/December/16", "Monday/December/16", 
                   "Monday/December/16", "Thursday/December/16"],
    "username": ["yyy"] * 10
})

# Create masked versions of the sensitive columns
df["new_tweet_id"] = df["tweet_id"].apply(lambda x: str(x)[:5] + "*****" + str(x)[-3:])  # Mask tweet_id
df["created_at4"] = df["created_at"].apply(lambda x: "****/***/**")                     # Mask created_at
df["username"] = df["username"].apply(lambda x: "user_****")                           # Mask username

# Drop the original sensitive columns
df = df.drop(columns=["tweet_id", "created_at"])

print(df)

    username   new_tweet_id  created_at4
0  user_****  30176*****251  ****/***/**
1  user_****  41287*****229  ****/***/**
2  user_****  17024*****188  ****/***/**
3  user_****  34631*****606  ****/***/**
4  user_****  99488*****597  ****/***/**
5  user_****  26785*****597  ****/***/**
6  user_****  90048*****560  ****/***/**
7  user_****  87616*****559  ****/***/**
8  user_****  24416*****559  ****/***/**
9  user_****  47840*****430  ****/***/**

In [4]:
import pandas as pd

# Path to the Excel file
file_path = r"D:\School Files\assignment-data.xlsx"

# Load the Excel file into a DataFrame
try:
    df = pd.read_excel(file_path)
    rows_3_to_12 = df.iloc[2:12]
    output_path = r"D:\School Files\assignment-data.xlsx"
    rows_3_to_12.to_excel(output_path, index=False)

    print(f"Rows 3 to 12 saved successfully to {output_path}")
except FileNotFoundError:
    print(f"Error: File not found at {file_path}")
except Exception as e:
    print(f"Error: {e}")

Rows 3 to 12 saved successfully to D:\School Files\assignment-data.xlsx

In [7]:
import pandas as pd

file_path = r"D:\School Files\assignment-data.xlsx"

df = pd.read_excel(file_path)
rows_3_to_12 = df.iloc[2:12]  
print(rows_3_to_12)

             tweet_id           created_at  \
2  831880802489217024  2017-02-15 15:00:13
3  946063916068634624  2017-12-27 17:03:09
4  945973955847999488  2017-12-27 11:05:41
5  945972004548726784  2017-12-27 10:57:55
6  945606558930690048  2017-12-26 10:45:46
7  945595453256687616  2017-12-26 10:01:39
8  945595401729724416  2017-12-26 10:01:26
9  944304498461347840  2017-12-22 20:31:51

                                              tweet   retweets      username
2  88mph invest in Ahoy - a business travel app f...         1  88mph_Africa
3  Ce samedi 30 décembre 2017 à @ActivSpaces, se ...         4  ActiveSpaces
4  RT @OIFfrancophonie: Retour en vidéo sur la vi...        27  ActiveSpaces
5  RT @OIFfrancophonie: L’OIF a organisé un ateli...        13  ActiveSpaces
6  Plus que deux jours et les inscriptions seront...         5  ActiveSpaces
7  RT @nlend_nyounai: Transform your idea into a ...         1  ActiveSpaces
8  RT @ElongWilliam: Si tu as une idée et tu es u...         6  ActiveSpaces
9   RT @chantaledie: AWESOME https://t.co/pTu3k5LA81         2  ActiveSpaces

In [9]:
import pandas as pd
from datetime import datetime
import random

file_path = r"D:\School Files\assignment-data.xlsx"
df = pd.read_excel(file_path)
def convert_date_format(date_str):
    date_obj = datetime.strptime(date_str, '%Y-%m-%d %H:%M:%S')
    return date_obj.strftime('%A/%B/%d')

df_subset = df.iloc[2:12]
df_subset['created_at4'] = df_subset['created_at'].apply(lambda x: convert_date_format(str(x)))
df_subset['username'] = 'yyy'
def generate_new_tweet_id():
    return random.randint(100000000000000000, 999999999999999999)   
df_subset['new_tweet_id'] = [generate_new_tweet_id() for _ in range(len(df_subset))]

print(df_subset[['new_tweet_id', 'created_at4', 'username']])

         new_tweet_id            created_at4 username
2  325085047414863239  Wednesday/February/15      yyy
3  356772099503579022  Wednesday/December/27      yyy
4  634191499862593480  Wednesday/December/27      yyy
5  974111317494011736  Wednesday/December/27      yyy
6  198673033939932519    Tuesday/December/26      yyy
7  210313104301727449    Tuesday/December/26      yyy
8  960594560070696424    Tuesday/December/26      yyy
9  509898240508396847     Friday/December/22      yyy

C:\Users\peril\AppData\Local\Temp\ipykernel_5980\1807247245.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['created_at4'] = df_subset['created_at'].apply(lambda x: convert_date_format(str(x)))
C:\Users\peril\AppData\Local\Temp\ipykernel_5980\1807247245.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['username'] = 'yyy'
C:\Users\peril\AppData\Local\Temp\ipykernel_5980\1807247245.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['new_tweet_id'] = [generate_new_tweet_id() for _ in range(len(df_subset))]

In [15]:
import pandas as pd

# Path to the Excel file
file_path = r"D:\School Files\assignment-data (1).xlsx"
df = pd.read_excel(file_path, sheet_name="online-retail")
df_first_200 = df.head(200)
print(df_first_200)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
195    536388     22469                HEART OF WICKER SMALL        12
196    536388     22242        5 HOOK HANGER MAGIC TOADSTOOL        12
197    536389     22941         CHRISTMAS LIGHTS 10 REINDEER         6
198    536389     21622     VINTAGE UNION JACK CUSHION COVER         8
199    536389     21791   VINTAGE HEADS AND TAILS CARD GAME         12

            InvoiceDate  UnitPrice  CustomerID         Country
0   2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1   2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2   2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3   2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4   2010-12-01 08:26:00       3.39     17850.0  United Kingdom
..                  ...        ...         ...             ...
195 2010-12-01 09:59:00       1.65     16250.0  United Kingdom
196 2010-12-01 09:59:00       1.65     16250.0  United Kingdom
197 2010-12-01 10:03:00       8.50     12431.0       Australia
198 2010-12-01 10:03:00       4.95     12431.0       Australia
199 2010-12-01 10:03:00       1.25     12431.0       Australia

[200 rows x 8 columns]